{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <ul>
        {% for Locacao in Locacoes %}
            <a href="{% url 'update_Locacao' Locacao.id %}">
                <li> {{ Locacao.cliente }} - {{ Locacao.carro }} - {{ Locacao.funcionario }} - {{ Locacao.dataLocacao }} - {{ Locacao.valor }} - {{ Locacao.dataDevolucao }} </li>
            </a>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{% url 'create_Locacao' %}">Novo</a>
{% endblock %}
